.button{
  background: #FFC85E;
  border-radius: 79px;
  width: 192px;
  height: 59px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color:white;
  border: none;
  &:hover{
    background: #FFC022;
  }
}
.catalog{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  &::after{
    content: url("./icon/catalog.svg");
    margin-bottom: -3px;
  }
}
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  &::after{
    content: url("./icon/price.svg");
    margin-bottom: -3px;
  }
}
.search{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  &::after{
    content: url("./icon/search.svg");
  }
}
