.filter{
  display: flex;
  flex-direction: column;
  min-width: 250px;
  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__input{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
