.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts{
  display: flex;
  gap: 40px;
}
.header__item{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  }
.header__bold{
  font-weight: 600;
}
.menu__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
